<footer class="footer">
	<hr>
	<div class="footer-text">
    	<p>SEOSAW is an activity of the Miombo Network</p>
    </div>
    <div class="footer-img">
    	<div class="footer-img-container">
    		<a href="http://www.nerc.ac.uk" target="_blank">
				<img src="{{ site.baseurl }}/images/inst_logos/nerc.png" alt="nerc">
    		</a>
    		<a href="http://www.ed.ac.uk" target="_blank">
	    		<img src="{{ site.baseurl }}/images/inst_logos/uoe.png" alt="nerc">
    		</a>
    	</div>
    </div>
</footer>
