<footer class="footer">
	<hr>
    <ul class="footer-logo">
      <li>
        <p>
	  SEOSAW is an activity of the Miombo Network
        </p>
      </li>
      <li>
        <a href="http://www.nerc.ac.uk" target="_blank">
	    <img src="{{ site.baseurl }}/images/inst_logos/nerc.png" alt="nerc">
        </a>
      </li>
      <li>
        <a href="http://www.ed.ac.uk" target="_blank">
	    <img src="{{ site.baseurl }}/images/inst_logos/uoe.png" alt="nerc">
        </a>
      </li>
      <li>
        <a href="contact.html">Contact us</a>
      </li>
    </ul>
</footer>
