<footer class="footer">
	<hr>
    <div class="footer-img">
    	<a href="http://www.nerc.ac.uk" target="_blank">
			<img src="{{ site.baseurl }}/images/inst_logos/nerc.png" alt="NERC">
    	</a>
    	<a href="http://www.ed.ac.uk" target="_blank">
	    	<img src="{{ site.baseurl }}/images/inst_logos/uoe.png" alt="University of Edinburgh">
    	</a>
    	<a href="http://miombonetwork.org/" target="_blank">
			<img src="{{ site.baseurl }}/images/inst_logos/miombo_network.png" alt="Miombo Network">
    	</a>
    </div>
</footer>
