<header class="header">
	<div class="header-container">
		<div class="nav">
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/index.html">home</a>
				</li>
			</span>
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/people.html">people</a>
				</li>
			</span>
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/map.html">map</a>
				</li>
			</span>
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/publications.html">publications</a>
				</li>
			</span>
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/data.html">data</a>
				</li>
			</span>
			<span class="title">
				<li>
					<a href="{{ site.baseurl }}/manuals.html">manuals</a>
				</li>
			</span>
		</div>
		<div class="nav-bar-title"> {{ site.title }} </div>
		<div class="description"> {{ site.motto }} </div>
		<ul class="social-links">
			<li>
				<a href="https://bitbucket.org/{{ site.bitbucket_username }}/{{ site.bitbucket_repo}}" title="Bitbucket" target="_blank">
					<img width="100px" src="{{ site.baseurl }}/images/bitbucket.png" style="padding-top:2px;" style="padding-bottom:2px;"/>
				</a>
			</li>
		</ul>
	</div>
</header>
