
// Basic styling
body {
    margin: 0;
	padding: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    color: $text-color;
    background-color: $background-color;
}

// Page content wrapper
.page-content {
    min-height: 100%;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin: 0px auto;
    padding: 0px $spacing-unit $spacing-unit $spacing-unit;
}

// Header
.header {
	padding: 30px 20px 20px 20px;
	background-image: url("../images/miombo_banner.jpg");
	background-size: cover;
}

.header-container {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	margin: 0 auto;
	color: $white-color;
}

.header-container a {
	color: $white-color;
}

.header-container a:hover {
	color: $white-color;
	opacity: 0.7;
	text-decoration: none;
}

.nav {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: $nav-font-weight;
}

.nav ul {
    margin: 20px 0px 20px 20px;
}

.nav li {
	padding-right: 20px;
	display: inline-block;
}

.nav-bar-title {
	font-family: $base-font-family;
	font-size: 50px;
	color: $white-color;
	margin-bottom: -20px;
}

.description {
	padding-top: 20px;
	font-size: 14px;
}

.bitbucket {
	padding: 0px 0px 20px 0px;
}

.bitbucket img {
	float: left;
}

// Footer
.footer {
	margin: 30px 10px 0px 10px;
}

.footer-img { 
	float: left;
	margin: 0 auto;
}

.footer-img img {
	display: inline-block;
	max-height: 45px;
	padding: 5px;
}

// Lists
li {
	line-height: 1.7em;
}

ul, ol {
	padding-left: 2em;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin: 15px 0px 0px 0px;
    font-weight: $base-font-weight;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}

// Links
a {
    color: $brand-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}

button {
    cursor: pointer;
}

button:hover {
	opacity: 0.7;
}

// Images
img {
    margin: 10px auto;  // top-bottom, left-right 
    max-width: 90%;  // relative to div
    vertical-align: middle;  
	display: block;
}

// Text
p {
	margin: $par-unit 0px;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}

// Videos
video {
	display: block;
	margin: $par-unit auto;
	max-width: 90%;
}

// Tables
table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
    padding-bottom: 20px;
	border: 1px solid $brand-color;
	table-layout: fixed;
	width: 100%;
}

td {
    padding: 3px 10px;
	border-bottom: 1px solid $brand-color;
}

th {
    padding: 5px 10px;
    background: $brand-color;
    font-weight: bold;
    color: $background-color;
}

th.colname {
	width: 20%;
}

th.colclass, th.colunit, {
	width: 10%;
}

th.colby {
	width: 15%;
}

th.coldesc {
	width: 30%;
}

// Leaflet map
#leaf-map {
	height: 500px;
	margin: 10px 0;
}

.legend {
    line-height: 25px;
    color: $text-color;
    padding: 6px 8px;
    font: $base-font-family;
    font-size: 15px;
    background: $background-color;
}

.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
}

.legend .circle {
	border-radius: 50%;
	border: 1px solid #7A0099; 
	width: 12px;
	height: 12px;
}

// Landing page button 
.landing-btn-wrapper {
	text-align: center;
}

.landing-btn {
	width: 90%;
	height: $spacing-unit;
	background: $brand-color;
	border: none;
	color: $white-color;
	font-size: 18px;
	margin: 10px 0;
	text-decoration: none;
}

// Contact form
#contact-form .contact {
   width: 800px;
   padding: 15px;
   overflow: hidden;
}       

#contact-form .form-group {
	padding-bottom: 15px;
}

#contact-form .form-item {
	padding: 5px;
}

#contact-form .form-control {
	height: $spacing-unit;
	border: 1px solid $brand-color;
	box-shadow: none;
	width: 50%;
	padding-left: 10px;
}

#contact-form textarea {
	box-sizing: border-box;
	height: 90px;
	border: 1px solid $brand-color;
	box-shadow: none;
	width: 100%;
	max-width: 100%;
	padding-left: 10px;
	padding-top: 10px;
}

.filter {
  height: 30px;
  border: 1px solid $brand-color;
  box-shadow: none;
  width: 200px;
  padding-left: 10px;
}
::placeholder { 
  color: $text-color;
  opacity: 1; 
}

// Counter  
.count span {
  display: block;
  left: 50%;
  text-align: center;
  font-size: 20px;
}

.count li { 
  list-style: none;
  display: inline-block;
  text-align: center;	
  width: 175px;
}

.counter-img {
	width: 50px;
}

// People partner logos
.partner-logo li {
	display: inline-block;
	padding-left: 20px;
}

.partner-logo img {
	max-width: 200px;
}

.grid:after {
    content: '';
    display: block;
    clear:both
}

.grid-item {
    height: 130px;
    width: 28%;
    float: left;
    text-align: center;
    line-height: 125px;
    padding:17px
}

.grid-item img {
    max-height: 100%;
    max-width: 100%;
    vertical-align:middle
}

.hovereffect {
    width: 100%;
    height: 100%;
    position: relative;
    float:left
}

.hovereffect img {
    position: relative;
    opacity: 1;
    transition:all 0.2s ease-in-out;
}

.hovereffect:hover > img {
    opacity: 0.2;
    transition:all 0.2s ease-in-out;
}

.overlay {
    width: 100%;
    height: 100%;
    float: left;
    overflow:hidden;
    line-height: 20px;
}

.overlay h2 {
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    opacity: 0;
    transition:all 0.2s ease-in-out;
}

.overlay:hover > h2 {
    opacity: 1;
    transition:all 0.2s ease-in-out;
}

//Text boxes
.paper {
  margin-bottom: 1em;
  padding: 0 1em;
  border: 1px solid $brand-color;
  border-radius: 5px;
  box-shadow: none;
}
