// Reset basic elements
html, body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
	padding: 0;
}

// Basic styling
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    color: $text-color;
    background-color: $background-color;
}

img {
    margin: 10px auto;
    max-width: 90%;
    vertical-align: middle;
	display: block;
}

// Wrapper
.page-content {
    min-height: 100%;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    padding-bottom: $spacing-unit;
}

// Main container 
.main-container {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: block;
	padding-bottom: 100px;
}

// Header
.header {
	padding: 50px 20px 40px;
	background-image: url("../images/miombo_banner.jpg");
	background-size: cover;
}

.header-container {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	margin: 0 auto;
}

.nav {
	color: $grey-color;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	font-family: $base-font-family;
	display: inline;
}

.nav li {
	padding-right: 20px;
	display: inline-block;
	line-height: 1;
}

.nav li a:hover {
	opacity: 0.7;
	cursor: pointer;
	text-decoration: none;
}

.title li a {
	color: $white-color;
}

.title li a:hover {
	opacity: 0.7;
}

.nav-bar-title {
	font-family: $base-font-family;
	font-size: 50px;
	color: $white-color;
	margin: 0px 0px -20px -2px;
}

.description {
	padding-top: 20px;
	font-size: 14px;
	color: $white-color;
}

.social-links {
	padding-top: 10px;
	margin-left: 0;
}

.social-links li {
	display: inline;
	padding-right: 10px;
	line-height: 0;
}

.social-links img {
    margin: 10px auto;
    float: left;
}

.social-links img:hover {
	opacity: 0.8;
}

// Footer
.footer {
	margin: 10px 10px 0px 10px;
}

.footer-text {
	float: left;
	margin: 10px;

}

.footer-img { 
	float: right;
}

.footer-img img {
	display: inline-block;
	max-height: 40px;
	margin: 5px;
}

// Lists
li {
	margin-left: 0;
	line-height: 1.7em;
}

ul, ol {
    margin-left: 30px;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin: 15px 0px 0px 0px;
    font-weight: $base-font-weight;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}

// Links
a {
    color: $brand-color;
    text-decoration: none;
    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}

// Tables
table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
    padding-bottom: 20px;
	border: 1px solid $brand-color;
	table-layout: fixed;
	width: 100%;
}

td {
    padding: 3px 10px;
	border-bottom: 1px solid $brand-color;
}

th {
    padding: 5px 10px;
    background: $brand-color;
    font-weight: bold;
    color: $background-color;
}

table.tablesorter thead tr .headerSortNone {
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('../images/table_arrow/bg.gif');
    padding-right: 5px;

}

table.tablesorter thead tr .headerSortUp {
    background-image: url('../images/table_arrow/asc.gif');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 5px;
}

table.tablesorter thead tr .headerSortDown {
    background-image: url('../images/table_arrow/desc.gif');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 5px;
}

th.colname {
	width: 20%;
}

th.colclass, th.colunit, {
	width: 10%;
}

th.colby {
	width: 15%;
}

th.coldesc {
	width: 30%;
}

//th.coldesc, th.colunit


// Leaflet map
#leaf-map {
	 height: 500px;
	 margin: 10px 0;
 }
.legend {
    line-height: 25px;
    color: $text-color;
    padding: 6px 8px;
    font: $base-font-family;
    font-size: 15px;
    background: $background-color;
}
.legend i {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
}
.legend .circle {
  border-radius: 50%;
  border: 1px solid #7A0099; 
  width: 12px;
  height: 12px;
}

// Landing page button 
.landing-btn {
  width: 100%;
  height: 35px;
  background: $brand-color;
  border: none;
  color: $white-color;
  font-size: 18px;
  margin: 10px 0;
}
.landing-btn:hover {
	opacity: 0.7;
	cursor: pointer;
	text-decoration: none;
}

// Contact form
#contact-form .contact {
   width: 800px;
   padding: 15px;
   overflow: hidden;
}       
#contact-form .form-group {
	padding-bottom: 15px;
}
#contact-form .form-item {
	padding: 5px;
}
#contact-form .form-control {
	height: 35px;
	border: 1px solid $brand-color;
	box-shadow: none;
	width: 50%;
	padding-left: 10px;
}
#contact-form textarea {
	box-sizing: border-box;
	height: 90px;
	border: 1px solid $brand-color;
	box-shadow: none;
	width: 100%;
	max-width: 100%;
	padding-left: 10px;
	padding-top: 10px;
}
#contact-form button:hover {
	opacity: 0.7;
	cursor: pointer;
	text-decoration: none;
}
.filter {
  height: 30px;
  border: 1px solid $brand-color;
  box-shadow: none;
  width: 200px;
  padding-left: 10px;
}
::placeholder { 
  color: $text-color;
  opacity: 1; 
}

// Counter  
.count span {
  display: block;
  left: 50%;
  text-align: center;
  font-size: 20px;
}
.count li { 
  list-style: none;
  display: inline-block;
  text-align: center;	
  width: 175px;
}
.counter-img {
	width: 50px;
}

// People partner logos
.partner-logo li {
	display: inline-block;
	padding-left: 20px;
}

.partner-logo img {
	max-width: 200px;
}

.grid:after {
    content: '';
    display: block;
    clear:both
}

.grid-item {
    height: 130px;
    width: 28%;
    float: left;
    text-align: center;
    line-height: 125px;
    padding:17px
}

.grid-item img {
    max-height: 100%;
    max-width: 100%;
    vertical-align:middle
}

.hovereffect {
    width: 100%;
    height: 100%;
    position: relative;
    float:left
}

.hovereffect img {
    position: relative;
    opacity: 1;
    transition:all 0.2s ease-in-out
}

.hovereffect:hover > img {
    opacity: 0.2;
    transition:all 0.2s ease-in-out
}

.overlay {
    width: 100%;
    height: 100%;
    float: left;
    overflow:hidden;
    line-height: 20px;
}

.overlay h2 {
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    opacity: 0;
    transition:all 0.2s ease-in-out
}

.overlay:hover > h2 {
    opacity: 1;
    transition:all 0.2s ease-in-out
}

